body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, button {
    padding: 10px;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.flashes {
    color: green;
    font-weight: bold;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #45a049;
}
